<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Guest Book</title>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body id="guest-body">
    <h1 id="guest-header"><a href="/"> <<</a>Guest Book</h1>
    <div id="submit-body">
      <h1 id="comment-header">Leave a comment</h1>
      <form action="saveComment" method="POST">
        Name: <input type="text" name="name" id="name" required /><br />
        Comment:
        <textarea
          name="comment"
          id="comment"
          cols="50"
          rows="4"
          required
        ></textarea
        ><br />
        <input id="submit-button" type="submit" value="Submit" />
      </form>
    </div>
    <div id="comments-body">
      <table id="table" cellspacing="0px" border="1">
        <thead>
          <td class="date">DATETIME</td>
          <td class="name">NAME</td>
          <td class="comment">COMMENTS_LIST</td>
        </thead>
        <tbody>
          __COMMENTS__
        </tbody>
      </table>
    </div>
  </body>
</html>
